[submodule "Drawer/vendor/spdlog"]
	path = Drawer/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Drawer/vendor/GLFW"]
	path = Drawer/vendor/GLFW
	url = https://github.com/TomasPrusenovsky/glfw.git
	branch = latest
